
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h1{
    text-align: center;
    box-shadow: 1px 1px 3px 3px #B3B3B3;
    background-color: #F47920;
    padding: 10px;
} 

h1,h2,h3{
    color:#005883;
} 

footer {
  background-color: #F47920;
  bottom: 0;
  width: 100%;
 
  color: white;
}
  
img{
    border-radius: 15px;
}
 
.alex{
	width: 68%; 
    height: 100%;  
    margin: 10px;
    padding: 10px;
} 
.alex2{
	width: 100%; 
    height: 100%;  
    margin: 10px;
    padding: 10px;
}
